* {
margin: 0;
padding: 0;
outline: none;
}

body{background: url('../img/brillant.png');

}
/* -----------------------HEADER ITMS -------------------------------------*/
#logo{
display: block;
float: left;
margin-top:20px;
margin-bottom:25px;
}

#head{
width:960px;
margin: 0 auto;

}

#headerLanding{
width:100%;
float: left;
background-color: #9CC653;
}

#nav{
float:right;
margin-top:30px;
}

#nav li{
float: left;
margin-left:70px;
}

#nav li a{
text-decoration: none;
margin-left:10px;
}

#nav li a:hover{
text-decoration: underline;

}

/* -----------------------HEADER ITMS END -------------------------------------*/
/*----------------------- WRAPPER ITMS ---------------------------------------*/

#content{
margin-left: auto;
margin-right: auto;
clear: both;
}

#wrapper{
margin-left: auto;
margin-right: auto;
width: 960px;
}
#mainGraphicLanding{
margin-bottom:30px;
float: left;
width: 100%;
height: 375px;
background-image: url("../img/pushv2.jpg");
}

#resultInstrc{
background-color: #9CC653;
float: left;
width:960px;/* may need to remove */
}

#infoTraineeInstruc{
width: 960px;
float: left;
}


#infoTraineeInstruc img{
float: left;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 30px;

}
#infoTraineeInstruc li{
background-color: white;
border-bottom:20px solid #9CC653;
float: left;
width:420px;
margin-top:5px;
}
#infoTraineeInstruc li:nth-child(odd){
margin-left: 40px;

}
#infoTraineeInstruc li:hover{
background-color: #BECCA3;
}

#infoTraineeInstruc li:nth-child(even)
{
margin-left:25px;
}

#addResultsHolder{
width: 960px;
background-color: #9CC653; 
border-top: 20px solid #9CC653;
border-bottom:10px solid #9CC653; 
}

#addResults{
margin-left:420px ;
}

#addResultsAnc{
text-decoration: none;
color: black;
}

#addResultsAnc:hover{
text-decoration: underline;
}
#mainSearch{
width: 780px;
float: left;
margin-left:300px;
margin-top:135px;
}

#searchField{
border: 1px solid black;
-moz-border-radius: 3px;
border-radius: 3px;
width:380px;
margin: 0px 15px 0px 10px;
padding:20px 0px 15px 20px;

}

#searchBtn{
width:300px ;
margin-top:20px;
background-color:#EF9426;
border: 1px solid #EF9426;
-moz-border-radius: 2px;
border-radius: 2px;
padding:0px 0px 10px;
cursor: pointer;
}


.insName{
margin-top: 30px;

}

.thumbImg{
margin-top:20px;
}

.workSt{
margin-top:15px;
}

#resultInstrc{
border-top: 30px solid #9CC653;
border-bottom: 20px solid #9CC653;
width: 940px;
}

#disclaim{background:url('../img/brillant.png');
border:3px solid #9CC653;
width:420px;
min-height:50px;
padding:5px;
}

#about{background:url('../img/brillant.png');
border:3px solid #9CC653;
width:420px;
min-height:50px;
padding:5px;
}



/*---------------------- FOOTER ITEMS BEGIN---------------------------------- */

/* FOOTER ITEMS Uses percent to keep things center when resized */
#footer{
height:57px ;
background-color:#526794 ;
float: left;
width: 100%;
margin-top:50px;

}

/* deals with how the fonts stay together */
#ftHold{
margin-left:220px;
width: 960px;
}

#ftLinks a{
margin-right: 10px;
text-decoration: none;
}

#ftLinks a:hover{
text-decoration: underline;
}
#ftLinks{
width: 100%;
}

#ftLinks a:last-child{
margin-right:0px;
}
/*--------------------- FOOTER ITMS END------------------------------------------- */

/*-------------------- CONTINULY USED ITMS BOXES ETC------------------------------ */

.imgBl{
display: block;
}

.txtBl{
display: block;
margin-left: 20px;
}
.hidd{
display: none;
}

/*---------------------- FONTS BEGIN ----------------------------------------------*/


@font-face{

font-family:nevisC;
src: url("../font/nevis.ttf");
}

.nevisInfoFt{
font: 18pt nevisC;
text-align: center;
}

.ftDis{
font: 10pt futura;
margin-left: 10px;
}

.ftFont{
font: 12pt Futura;
letter-spacing:1px;
color:white;
margin-left:10px;
}

.ftStyles{
font: normal 10pt futura;
}

.ftWorkOut{
font: bold 12pt helvetica;
}

.ftInstructorName{
font: bold 12pt Helvetica;
}

.ftnav{
font:bold 12pt helvetica;
color: white;
letter-spacing:1px;
}

.ftSearchBtn{
font: bold 34pt helvetica;
}

.ftSearch{
font: 18pt helvetica;
color:#A5A5A5;
}

.ftline{
line-height: 1.35em;
}
