* {
margin: 0;
padding: 0;
outline: none;
}
body{
line-height: 1.35em;
background:url('../img/brillantpattern.png');
}

#wrapper{
width:960px;
margin-left: auto;
margin-right: auto;
float: none;
}
/*_______________________ CONTACT  _________________ */

#contact{
height:240px;
background-color:#937EBF ;

}

@-moz-document url-prefix() {
#contact{
height:260px;
background-color:#937EBF ;

}
}
#headContact{
float: left;
margin-left:230px;
margin-right:20px;
margin-top: 80px;
}
#titlesContact{
float: left;
width: 280px;
margin-top: 50px;
}

#titlesContact input
{
margin-bottom: 10px;
padding-left: 10px;
}

#titlesContact input:focus{
background-color: white;
}

#messageContact textarea:focus{
background-color: white;
}

#messageContact{
float: left;
margin-top: 50px;
margin-left: 20px;
width: 300px;
}

#messageContact textarea{
padding-bottom:90px;
-moz-border-radius: 2px;
border-radius: 2px;
border: 2px solid white;
width: 280px;
resize:none;
float: left;
padding-left: 10px;
padding-top: 5px;
}

#sendBtn{
float: left;
margin-left: 52px;
margin-top: 10px;
padding-left:85px;
padding-bottom: 2px;
padding-top: 4px;
padding-right:85px;
cursor: pointer;
}

@-moz-document url-prefix() {

#sendBtn{
float: left;
margin-left: 48px;
margin-top: 10px;
padding-left:85px;
padding-bottom: 2px;
padding-top: 4px;
padding-right:85px;
cursor: pointer;
}

}

.inputStyle{
border: 2px solid white;
width: 280px;
height: 30px;
-moz-border-radius: 2px;
border-radius: 2px;
}

.sendBtnStyle{
border: 2px solid white;
-moz-border-radius: 2px;
border-radius: 2px;
background-color: #AFC6F9;
}
.inputColor{
background-color:#E8E8E8 ;
}


/*_______________________ HEADER ____________________ */
#header{
float: left;
}

#homeReturn{
border-bottom:10px solid #EBBB4C;
margin-top: 15px;
width: 340px;
float: left;
margin-right:18px;
}

#navHolder{
float: left;
height: 50px;
margin-top: 1px;
}
@-moz-document url-prefix() {
	#navHolder{
	float: left;
	height: 50px;
	margin-top:0px;
	}
}

#nav li{
float: left;
padding-top:4px ;

}

#nav{
margin-left: 240px;
}


.navWork{
background-color:#AA2D48;
padding:6px 18px;
-moz-border-radius: 1px;
border-radius: 1px;
}

.navPers{
background-color:#EBBB4C;
padding:6px 18px;
-moz-border-radius: 1px;
border-radius: 1px;
}

#nav li:nth-child(even){
margin-left: 20px;
margin-right: 20px;
}


.navCont{
background-color:#937EBF;
padding:6px 18px;
-moz-border-radius:1px;
border-radius:1px;
}

.bott{
padding-bottom: 12px;
border-bottom: 12px solid #EBBB4C;
}

.bottContact{
padding-bottom: 12px;
border-bottom: 12px solid #937EBF;
}

.andColor{
color: #EBBB4C;
}
#warn{
float: left;
}

/*_______________________ PERSONAL QUOTE ____________________ */
#personalQuote{
width:330px;
margin-top: 20px;
border-right:10px solid #EBBB4C;
min-height:318px; 
float: left;
}

#quoteHolder{
margin-top: 20px;
}
.moveLoyalty{
margin-left:10px; 
}

.moveHonesty{
margin-left:70px; 
}
.moveRespect{
margin-left:110px; 
}
.moveQuote{
margin-left:300px; 
}


/*_______________________ PERSONAL DETAILS _________________ */

#personalDetails{
float: left;
width: 580px;
height:320px;
margin-top: 20px;
margin-left: 20px;
}

#picPose{
width: 280px;
float: left;
}

#myDescription{
width: 280px;
float: left;
margin-top: 10px;
margin-left: 10px;
}

#transPersonal{
background-color: black;
filter:alpha(opacity=10);
-moz-opacity: 0.1;
opacity: 0.1;
width:inherit;
height: inherit;
position:absolute;
z-index:-9;
}

.resColor{
color: #D8A94A;
}

.resColor:hover{
text-decoration: underline;
}
/*_______________________ CURRENT SKILLS  _________________ */

#currentSkills{
float: left;
width: 940px;
margin-bottom: 70px;
margin-top: 20px;
}

.currentSki{
margin-bottom: 30px;
}

.transSkillCol{
background-color: black;
filter:alpha(opacity=10);
-moz-opacity: 0.1;
opacity: 0.1;
width:280px;
height:inherit;
position:absolute;
z-index:-9;
}

#skillColOne{
float: left;
width: 280px;
margin-left:60px;
}


#skillColTwo{
float: left;
width: 280px;
margin-left: 20px;
}

#skillColThree{
float: left;
width: 280px;
margin-left: 20px;
}

.skillContainer{
height:190px;
}

.skillContainerLine{
border-bottom: 10px solid #EBBB4C;
}


/*_______________________ FOOTER  _________________ */
#footer{
clear: both;

}
#footTop{
border-top:5px solid #AFAEAE;
opacity:.5;
margin-bottom: 5px;
}

#footer p{
margin-bottom:20px;
}

.gitIco{
padding-top:4px;;
float: right;
}

.linkIco{
float: right;
margin-left: 20px;
margin-right:10px;
}
/*_______________________ FONTS __________________ */

@font-face{
font-family:openSansSemi;
src: url("../fonts/OpenSans-Semibold.ttf");
}

@font-face{
font-family:openSansBld;
src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face{
font-family:nevisBld;
src: url("../fonts/nevis.ttf");
}

@font-face{
font-family:MyriadP;
src: url("../fonts/MyriadPro-Bold.otf");
}

@font-face{
font-family:MyriadReg;
src: url("../fonts/MyriadPro-Regular.otf");
}

.nameFnt{
font: bold 18px Arial;
color: #282828;
}

.navFnt{
font:bold 16px helvetica;
color: #282828;
}

.whoFnt{
font: bold 18px helvetica;
color: black;
}

.describeMeFnt{
font: 14px helvetica;
color: black;
padding-bottom:2px;
line-height: 1.35em;
}

.headDetailFnt{
font: bold 22px openSansBld;
color: black;
letter-spacing: 1px;
margin-bottom: 30px;
}

.quoteFnt{
font: bold 36px openSansBld;
color: black;
letter-spacing: 1px;
}

.currentSkillsFnt{
font: bold 24px openSansBld;
color: black;
letter-spacing: 1px;
}

@-moz-document url-prefix() {

.currentSkillsFnt{
	font: bold 23px openSansBld;
	color: black;
	letter-spacing: 1px;
	}
}

@-moz-document url-prefix() {

.quoteFnt{
	font: bold 36px openSansSemi;
	color: black;
	letter-spacing: 1px;
	}
}

.skillColHeadFnt{
font: bold 14px helvetica;
color: black;
padding-top:30px;
padding-bottom: 10px;
}

.skillColBodyFnt{
font: 14px helvetica;
color: black;
line-height: 1.35em;
padding-right:10px;
}

.footFnt{
font: 14px openSansSemi;
color: #282828;
letter-spacing: 1px;
}

.contactHeadFnt{
font:bold 21px MyriadP;
border-bottom:10px solid white;
letter-spacing: 1px;
}

.inputFnt{
font: 12px MyriadReg;
letter-spacing: 1px;
color: #3A3A3A;
}

.inputFnt::-webkit-input-placeholder{
color: #3A3A3A;
}

.sendBtnFnt{
font: bold 22px MyriadP;
letter-spacing: 1px;
color: #3A3A3A;
}

.warnFnt{
font: bold 16px MyriadP;
letter-spacing: 1px;
color: red;
}

.succFnt{
font: bold 16px MyriadP;
letter-spacing: 1px;
color: green;
}

/*_______________________ GENERALY USED ITEMS __________________ */
.anc{
text-decoration:none;
}

.txtInd{
margin-left:10px;
}

.contactHide{
display: none;
}

.warnShow{
display: block;
}

.warnHide{
display: none;
}

.contactShow{
display: block;
}
.txtIndAgain{
margin-left:20px;
}

.imgBlock{
display: block;
}